.advantages {
  text-align: center;

  background-color: #ffffff;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 45px;
}

.advantages__header {
  /*padding-top: 45px;*/
}

.advantages__slogan {
  @include reset-indent;

  /*padding-bottom: 30px;*/

  font-size: 24px;
  line-height: 28px;

  &:last-child {
    padding-top: 30px;
  }
}

.advantages__container {
  padding: 110px 30px 280px;

  background-color: #f2f2f2;

  background-image:
    url("../img/bg-triangle-white.svg"),
    url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position:
    top,
    center bottom -40px;
  background-size:
    auto;
}

.advantages__list {
  @include reset-list;
}

.advantages__item {
  padding-bottom: 32px;

  &:last-child {
    padding-bottom: 40px;
  }
}

.advantages__title {
  @include reset-indent;

  /*padding-bottom: 12px;*/

  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.advantages__description {
  @include reset-indent;

  margin-top: 12px;

  & br {
    display: none;
  }
}

/*.advantages__image {
  height: 280px;

  background-color: #f2f2f2;

  background-image:
    url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position:
    center bottom -40px;
  background-size:
    auto;
}*/

.advantages__timer {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding-top: 56px;
    width: 660px;
  }

  .advantages__header {

  }

  .advantages__slogan {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;

    &:last-child {
      padding: 0 140px;
    }
  }

  .advantages__container {
    /*display: flex;
    justify-content: space-between;

    padding: 0 20px;*/
    margin-top: 19px;
    padding-top: 105px;
    padding-bottom: 0;
    padding-left: 330px;
    padding-right: 20px;

    background-image:
      url("../img/iphone-screen-3-tablet@1x.png"),
      url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position:
      left 20px bottom,
      top;
    background-size:
      auto;
  }

  .advantages__list {
    /*width: 310px;
    order: 1;

    padding-top: 70px;*/

    text-align: left;

    /*padding-left: 20px;
    padding-bottom: 0;



    background-image:
      url("../../img/iphone-screen-3-tablet@1x.png"),
      url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position:
      left 20px bottom,
      top;
    background-size:
      auto,
      contain;*/
  }

  .advantages__item {
    /*margin-left: 310px;*/
  }

  .advantages__description {
    & br {
      display: block;
    }
  }

  /*.advantages__image {
    width: 310px;
    height: 481px;

    align-self: flex-end;

    background-color: transparent;

    background-image: url("../../../source/img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto;

  }*/

  .advantages__timer {
    display: block;

    padding: 0 20px;
  }

  .advantages__timer-container {
    display: flex;
  }

  .advantages__timer-clock {
    margin-top: 59px;

    width: 310px;



    /*padding-top: 100px;*/



/*Пока здесь заглушка с часами, надо доделать*/
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 240px 276px;
  }

  .advantages__timer-time {
    margin-top: 55px;
    margin-left: 18px;

    width: 175px;
    height: 175px;

    font-size: 96px;
    line-height: 150px;
    font-weight: 700;
    color: #d22856;

    border: 14px solid #d22856;
    border-radius: 50%;
  }

  .advantages__timer-description {
    margin-top: 95px;
    margin-bottom: 12px;

    width: 310px;

    text-align: left;
  }

  .advantages__timer-title {
    @include reset-indent;

    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
  }

  .advantages__timer-text {
    @include reset-indent;

    margin-top: 18px;
    margin-right: 10px;

    & br:first-child {
      display: none;
    }
  }

  .advantages__timer-link {
    display: inline-block;
    margin-top: 18px;

    color: #d22856;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    padding-top: 70px;
    width: 1200px;
  }

  .advantages__header {

  }

  .advantages__slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__slogan:last-child {
    padding: 0 260px;
  }

  .advantages__container {
    margin-top: 75px;
    padding: 0 120px;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
  }

  .advantages__list {
    @include reset-indent;

    display: flex;
    width: 960px;
    min-height: 565px;

    text-align: center;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 320px;
    padding: 0 40px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .advantages__item--melancholy {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
  }

  .advantages__item--changes {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
  }

  .advantages__item--smile {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    margin-top: 20px;

    font-size: 18px;
    line-height: 30px;

    & br {
      display: none;
    }
  }

  .advantages__image {
    display: none;
  }

  .advantages__timer {
    padding: 0 130px;

    background-color: #f2f2f2;
  }

  .advantages__timer-clock {
    margin-top: 68px;
    width: 368px;

    background-size: 300px 346px;
  }

  .advantages__timer-time {
    margin-top: 70px;
    margin-left: 23px;

    width: 220px;
    height: 220px;

    font-size: 120px;
    line-height: 186px;

    border: 17px solid #d22856;
  }

  .advantages__timer-description {
    margin-top: 160px;
    margin-bottom: 120px;
    margin-right: 40px;
    width: 530px;

  }

  .advantages__timer-title {
    font-size: 30px;
    line-height: 30px;

    & br {
      display: none;
    }
  }

  .advantages__timer-text {
    margin-right: 0;

    font-size: 18px;
    line-height: 30px;

    & br:first-child {
      display: block;
    }

    & br:last-child {
      display: none;
    }
  }

  .advantages__timer-link {
    margin-top: 24px;

    font-size: 18px;
    line-height: 30px;
  }
}


