.application {

}

.application__container {
  width: 320px;
  margin: 0 auto;

  background-color: #1d2631;
}

.application__hero {
  margin: 0;
  width: 100%;
  height: 462px;
  background-color: #1d2631;
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size:
    258px auto,
    320px auto;
  background-position:
    left bottom,
    center;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image:
      url("../img/iphone-hand-mobile@2x.png"),
      url("../img/bg-back-mobile@2x.jpg");
    background-size:
      258px auto,
      auto 462px;
  }
}

.application__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: #1d2631;
}

.application__slogan {
  display: none;
}

.application__download-button {
  display: block;
  margin-top: 28px;
  padding-top: 15px;
  padding-bottom: 16px;
  width: 274px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  border: 3px solid #ffffff;
  border-radius: 30px;

  &:hover {
    color: $alternative-color;
    background-color: #ffffff;
  }

  &:active {
    color: rgba($alternative-color, 0.3);
    background-color: #ffffff;
  }
}

.application__icon {
  display: block;
}

.application__list {
  @include reset-list;

  margin-top: 32px;
  padding-left: 37px;
  padding-right: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.application__description {
  margin: 24px 0 28px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {

  .application__hero {
    display: none;
  }

  .application__container {
    width: 660px;
    height: 729px;
    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size:
      700px auto,
      auto 729px;
    background-position:
      bottom,
      center;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .application__wrapper {
    padding-top: 206px;
    padding-bottom: 108px;
    padding-right: 340px;

    background-color: transparent;
  }

  .application__slogan {
    margin: 0;
    padding: 0 50px;
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
  }

  .application__list {
    margin-top: 46px;
    padding-left: 46px;
    padding-right: 48px;
  }

  .application__download-button {
    width: 294px;
  }

  .application__description {
    margin-top: 38px;
    margin-bottom: 0;

    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .application__container {
    width: 1200px;
    height: 853px;

    background-image:
      url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size:
      1050px auto,
      auto 853px;
    background-position:
      150px bottom,
      center;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image:
        url("../img/iphone-hand-desktop@2x.png"),
        url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .application__wrapper {
    padding-top: 218px;
    padding-bottom: 119px;
    padding-left: 130px;
    padding-right: 770px;
  }

  .application__slogan {
    padding: 0 25px;

    font-size: 50px;
    line-height: 60px;
  }

  .application__download-button {
    margin-top: 55px;

    font-size: 21px;
  }

  .application__list {
    margin-top: 67px;
  }

  .application__description {
    margin-top: 55px;
  }
}
