.button {
  padding-top: 17px;
  padding-bottom: 16px;
  width: 280px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  background-color: #2aab6d;

  border: none;
  border-radius: 2px;
}

@media (min-width: $tablet-width) {
  .button {
    width: 300px;
  }
}
