.button {
  padding-top: 17px;
  padding-bottom: 16px;
  width: 280px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;

  border: none;
  border-radius: 2px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
    background-color: #1c9b5e;
  }

  &:disabled {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 300px;
  }
}
