.competition {
  background-color: #ffffff;
}

.competition__description {
  line-height: 30px;

  padding-top: 50px;
  padding-bottom: 45px;
}

.competition__button-submit {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: 0;
  border-radius: 2px;
}





