.competition {
  margin: 0 auto;

  width: 320px;
  background-color: #ffffff;
}

.competition__description {
  @include reset-indent;
  padding: 50px 20px 45px;

  line-height: 30px;
  text-align: center;
}

.competition__description-full {
  display: none;
}

.competition__button-submit {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: 0;
  border-radius: 2px;
}

@media (min-width: $tablet-width) {
  .competition {
    width: 660px;
  }

  .competition__description {
    padding: 95px 85px 70px;

    font-size: 18px;
  }

  .competition__description-full {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .competition {
    width: 1200px;
  }

  .competition__description {
    padding-left: 205px;
    padding-right: 205px;
  }
}





