.contacts {
  width: 320px;
  margin: 0 auto;
  padding-top: 45px;

  font-size: 24px;    /*Чтобы*/
  line-height: 28px;  /*3 раза*/
  font-weight: 300;   /*не дублировать ниже*/
  text-align: center;

  background-color: #ffffff;
}

.contacts__slogan {
  @include reset-indent;
}

.contacts__list {
  @include reset-list;

  margin: 40px 0;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__title {
  @include reset-indent;

  margin-bottom: 4px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contacts__phone {
  color: #d22856;
  text-decoration: none;
}

.contacts__email {
  position: relative;

  color: #d22856;
  text-decoration: none;

  &:hover {
    color: $main-text-color;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $main-text-color;
    }
  }

  &:active {
    color: rgba($main-text-color, 0.3);

    &::after {
      display: none;
    }
  }
}

.contacts__adress {
  color: #d22856;
  text-decoration: none;
}

.contacts__map-picture {
  width: 320px;
  height: 200px;

  background-image:
    url("../img/icon-map-marker.svg"),
    url("../img/bg-triangle-white-footer.svg"),
    url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size:
    35px 35px,
    320px auto,
    320px auto;
  background-position:
    center top 94px,
    top,
    bottom;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image:
      url("../img/icon-map-marker.svg"),
      url("../img/bg-triangle-white-footer.svg"),
      url("../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 660px;

    padding-top: 50px;
  }

  .contacts__slogan {
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;
    margin-bottom: 30px;
  }

  .contacts__item {
    width: 330px;

    margin-bottom: 45px;

    &:last-child {
      margin: 0;
      flex-grow: 1;
    }
  }

  .contacts__map-picture {
    width: 660px;
    height: 374px;

    background-image:
      url("../img/icon-map-marker.svg"),
      url("../img/bg-triangle-white-footer.svg"),
      url("../img/bg-map-tablet@1x.jpg");
    background-size:
      35px 35px,
      660px auto,
      700px auto;
    background-position:
      center top 194px,
      top,
      center bottom -127px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image:
        url("../img/icon-map-marker.svg"),
        url("../img/bg-triangle-white-footer.svg"),
        url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1200px;

    padding-top: 70px;
  }

  .contacts__slogan {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__list {
    flex-wrap: nowrap;
    margin: 56px 120px 0;
  }

  .contacts__item {
    width: 320px;

    margin-bottom: 0;

    &:nth-child(2) {
      order: 2;
    }

    &:last-child {
      margin: 0;
    }
  }

  .contacts__title {
    margin-bottom: 22px;
  }

  .contacts__map-picture {
    width: 1200px;
    height: 522px;

    background-image:
      url("../img/icon-map-marker.svg"),
      url("../img/bg-triangle-white-footer.svg"),
      url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position-x:
      center;
    background-position-y:
      285px,
      0,
      -257px;
    background-size:
      35px 35px,
      1439px auto,
      1200px auto;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image:
        url("../img/icon-map-marker.svg"),
        url("../img/bg-triangle-white-footer.svg"),
        url("../img/bg-map-desktop@2x.jpg");
    }
  }
}




