.copyright {
  display: flex;
  align-items: center;
}

.copyright__link {
  display: block;
  margin-left: 15px;

  align-self: flex-end;
}

.copyright__html-academy {
  display: block;

  color: $alternative-color;

  &:hover {
    color: $main-text-color;
  }

  &:active {
    color: $main-text-color;
    opacity: 0.3;
  }
}
