.form-list__wrapper {
  padding: 0 20px;
}

.form-list__item {
  @include reset-indent;
  padding-bottom: 42px;

  border: none;
}

.form-list__item--grey { /*ВАЖНО поменять это на центровщик*/
  padding-top: 40px;

  background-color: #f2f2f2;
}

.form-list__title {
  padding: 0;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #d22856;
}

.form-list__wrapper-emotions .form-list__title {
  line-height: 30px;
}

.form-list__wrapper-personal .form-list__title {
  display: none;
}

.form-list__personal {
  @include reset-list;
}

.form-list__personal-title {
  display: block;

  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form-list__personal-field {
  @include reset-indent;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 20px;
  display: block;
  width: 256px;

  font-size: 18px;
  line-height: 30px;
  color: #283645;

  border: 2px solid #e5e5e5;
}

.form-list__achievement {
  @include reset-list;


}

.form-list__achievement-title {
  margin-left: 70px;

  font-size: 18px;
  line-height: 30px;
  color: #283645;

  cursor: pointer;
  user-select: none;
}

.form-list__wrapper-contacts .form-list__title {
  display: none;
}

.form-list__contacts {
  @include reset-list;
}

.form-list__contacts-title {
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
}

.form-list__contacts-field {
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  border: 2px solid #e5e5e5;
}

.form-list__application {
  @include reset-list;
}

.form-list__application-title {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-list__emotions {
  @include reset-list;
  padding: 19px;
  border: 2px solid #e5e5e5;
}

.form-list__emotions::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-list__footnote-asterisk {
  color: #d22856;
}

.form-list__footnote {
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form-list {
    display: flex;
    flex-direction: column;
  }

  .form-list__wrapper:not(:first-child) .form-list__item {
    border: 2px solid #e5e5e5;
  }

  .form-list__field-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-list__wrapper-personal {
    order: 1;
  }

  .form-list__item {
    background-color: #ffffff;
  }

  .form-list__personal-title {
    margin-right: 20px;
  }

  .form-list__personal-field {
    flex-grow: 1;
  }

  .form-list__wrapper-achievement {
    order: 4;

    & .form-list__title {
      padding: 0 32px;
    }
  }

  .form-list__wrapper-contacts {
    order: 3;

    & .form-list__title {
      padding: 0 32px;

      display: block;
    }
  }

  .form-list__wrapper-application {
    order: 2;

    & .form-list__title {
      padding: 0 25px;
    }
  }

  .form-list__wrapper-emotions {
    order: 5;

    & .form-list__title {
      padding: 0 39px;
    }
  }

  .form-list__wrapper-submit {
    display: flex;
    justify-content: space-between;

    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .form-list {
    padding: 0 130px;

    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-list__wrapper {
    @include reset-indent;
    width: 100%;
  }

  .form-list__wrapper-personal {
    width: 470px;
  }

  .form-list__wrapper-application {
    width: 470px;
  }
}
