.gallery {
  margin: 0 auto;

  width: 320px;
}

.gallery__slogan {
  margin: 0;
  padding: 47px 38px;

  line-height: 30px;
  text-align: center;
}

.gallery__list {
  @include reset-list;

  padding: 0 20px;
}

.gallery__item {
  margin: 0;
  margin-top: 20px;
}

.gallery__item--hero {
  @include reset-indent;
  position: relative;

  margin-top: 0;

  overflow: visible;
}

.gallery__hero-title {
  @include reset-indent;
  position: absolute;
  top: 0;
  right: 0;

  /*display: inline-block;*/
  padding: 6px 19px;

  color: #ffffff;
  background-color: $alternative-color;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery__image {
  @include reset-indent;

  display: block;
}

.gallery__image--hero {
  position: relative;
  left: -20px;

  width: 320px;
}

.gallery__review {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 18px;
  padding-right: 21px;

  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

.gallery__author-name {
  @include reset-indent;

  font-weight: 700;
  font-style: normal;
}

.gallery__review-timer {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery__text {
  @include reset-indent;
}

.gallery__like-wrapper {
  margin-top: 5px;
  display: flex;

  color: $alternative-color;
  text-transform: uppercase;
}

.gallery__heart {
}

.gallery__like {
  margin-left: 19px;
}

.gallery__like-count {
  margin-left: 4px;
}

@media (min-width: $tablet-width) {
  .gallery {
    width: 660px;
  }

  .gallery__slogan {
    padding: 94px 90px 74px;

    font-size: 18px;
  }

  .gallery__list {


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .gallery__item {
    width: 300px;
  }

  .gallery__item--hero {
    width: 100%;

    & .gallery__review {
      padding-top: 26px;
      padding-bottom: 22px;
      padding-left: 27px;
      padding-right: 29px;

      flex-direction: row;
      flex-wrap: wrap;

      height: unset;
    }

    & .gallery__heart {
      margin-left: 17px;
    }

    & .gallery__text {
      order: 2;
    }

    & .gallery__like-wrapper {
      margin-top: 0;
      margin-left: auto;
    }
  }

  .gallery__image {
    width: 300px;
  }

  .gallery__image--hero {
    width: 660px;
  }

  .gallery__hero-title {
    top: 57px;
  }

  .gallery__review {
    padding-top: 26px;
    padding-bottom: 23px;
    padding-left: 28px;
    padding-right: 32px;

    box-sizing: border-box;
    height: 155px;
  }

  .gallery__like-wrapper {
    margin-top: auto;
  }

  .gallery__heart {
    margin-left: auto;

    order: 2;
  }

  .gallery__like {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    width: 1200px;
  }

  .gallery__slogan {
    padding: 90px 313px;
  }

  .gallery__list {
    padding: 0 130px;
  }

  .gallery__item {
    margin-top: 50px;
  }

  .gallery__item--hero {
    margin-top: 0;
  }

  .gallery__image--hero {
    width: 1200px;

    left: -130px;
  }

  .gallery__hero-title {
    top: 54px;
  }
}
