.logo-color__image--desktop {
  display: none;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .logo-color__image {
    display: none;
  }

  .logo-color__image--desktop {
    display: block;
  }
}
