.modal-window__title {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.modal-window__description {
  margin: 0;
  padding: 0;
}

.modal-window__button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: 0;
  border-radius: 2px;
}
