.page-header {
  display: flex;
  flex-direction: column;

  color: #ffffff;
  background-color: #1d2631;
}

.page-header__container {
  margin: 0 auto;

  width: 320px;
}

.page-header__menu-wrapper {

}

.page-header__slogan {
  margin: 0;
  padding: 100px 75px 80px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: top;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
    background-position: center top;
  }
}

.page-header--form .page-header__slogan {
  padding: 100px 45px 53px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    width: 660px;
  }

  .page-header__menu-wrapper {

  }

  .page-header__slogan {
    padding: 180px 150px 140px;

    font-size: 50px;
    line-height: 60px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    background-position: center top;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header--form .page-header__slogan {
    padding: 185px 90px 75px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: 1200px;
  }

  .page-header__menu-wrapper {

  }

  .page-header__slogan {
    padding: 174px 420px 100px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;
    background-position: center top;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header--form .page-header__slogan {
    padding: 180px 225px 94px;
  }
}
