.page-footer {
  margin: 0 auto;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  width: 320px;

  background-color: #ffffff;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 40px;
}



@media (min-width: $tablet-width) {
  .page-footer {
    padding: 38px 20px;

    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }

  .page-footer--index {
    display: flex;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
  }

  .page-footer--index {
    padding: 73px 130px;
  }

  .page-footer--photo {
    padding: 98px 130px 72px;
  }
}

