.site-list {
  @include reset-list;
}

.site-list__item {

}

.site-list a {
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
  }
}
