.uploading {
  margin: 0 auto;

  width: 320px;

  background-color: #f2f2f2;
}

.uploading__header {
  padding: 41px 0;

  background-color: #ffffff;
}

.uploading__slogan {
  @include reset-indent;

  line-height: 30px;
  text-align: center;
}

.uploading__editor {
  padding-top: 20px;
  padding-bottom: 34px;
}

.uploading__image {
  margin: 0 auto;
  display: block;

  width: 280px;
}

.uploading__toolkit {
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 39px;
  width: 198px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uploading__tool--crop {
  fill: #d22856;
}

.uploading__tool--fill {
  fill: #b5b9be;
}

.uploading__tool--contrast path{
  fill: #b5b9be;
}

.uploading__scale-bar {
  display: none;
}

.uploading__scale-bar--common {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 34px;

  width: 240px;
  height: 2px;

  background-color: #000000;
}

.uploading__scale-toggle {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  /*z-index: 100;*/

  left: 80%;
  top: -6px;

  background-color: #f2f2f2;
  border-radius: 50%;

  & svg {
    display: block;
  }

  & path {
    fill: $alternative-color;
  }

  &:active {
    top: -6px;
    background-color: $alternative-color;
  }
}

.uploading__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 38px;
  padding-bottom: 41px;

  border-top: 1px solid #dddfe0;
}

.uploading__button {
  width: 274px;
  padding: 15px 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border: 3px solid #000000;
  border-radius: 30px;
}

.uploading__button--upload {
  color: $alternative-color;

  border-color: $alternative-color;

  &:hover {
    color: #ffffff;

    background-color: $alternative-color;
  }

  &:active {
    color: rgba(#ffffff, 0.3);

    background-color: $alternative-color;
  }
}

.uploading__button--cancel {
  margin-top: 12px;

  color: rgba($main-text-color, 0.1);

  border-color: rgba($main-text-color, 0.1);

  &:hover {
    color: rgba($main-text-color, 0.3);

    border-color: rgba($main-text-color, 0.3);
  }

  &:active {
    color: rgba(#ffffff, 0.1);

    background-color: #b5b9be;   /*цвет выбран пипеткой по макету*/
    border-color: #b5b9be;
  }
}

@media (min-width: $tablet-width) {
  .uploading {
    width: 660px;
  }

  .uploading__header {
    padding: 67px 0;
  }

  .uploading__slogan {
    font-size: 18px;
  }

  .uploading__editor {
    padding: 57px 20px 54px;
    display: flex;
    justify-content: space-between;
  }

  .uploading__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
  }

  .uploading__toolkit {
    margin-left: 25px;
    padding: 0;
    flex-direction: column;
    width: 275px;
  }

  .uploading__tool {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 18px;
    width: 257px;
    /*height: 70px;*/

    border-bottom: 1px solid #dddfe0;

    /*fill: #d22856;*/

    &--fill {
      fill: #d22856;
    }
  }

  /*.uploading__tool--contrast path {
    fill: #d22856;
  }*/

  .uploading__tool--crop {
    padding-top: 9px;
    padding-bottom: 24px;

    &>svg {
      width: 22px;
      height: 22px;
    }
  }

  .uploading__tool--fill {
    padding-top: 27px;
    padding-bottom: 23px;

    &>svg {
      width: 24px;
      height: 22px;
    }
  }

  .uploading__tool--contrast {
    padding-top: 26px;
    padding-bottom: 27px;

    &>svg {
      width: 16px;
      height: 16px;
    }

    & path {
      fill: #d22856;
    }
  }

  .uploading__scale-bar {
    display: block;
    position: relative;
    margin-left: auto;

    width: 202px;
    height: 2px;

    background-color: #000000;
  }

  .uploading__scale-bar--common {
    display: none;
  }

  .uploading__scale-toggle {
    &--crop {
      left: 76%;
    }

    &--fill {
      left: 16%;
    }

    &--contrast {
      left: 51%;
    }
  }

  .uploading__button-wrapper {
    padding: 0;
    border: none;
  }

  .uploading__button {
    width: 260px;
  }

  .uploading__button--cancel {
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .uploading {
    padding: 0 130px;
    width: 940px;

    background-color: #ffffff;
  }

  .uploading__header {
    padding: 63px 0;
  }

  .uploading__editor {
    padding-top: 57px;
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;

    background-color: #f2f2f2;
  }

  .uploading__wrapper {
    width: 410px;
  }

  .uploading__toolkit {
    width: 100%;
    margin: 0;
  }

  .uploading__tool {
    padding-right: 30px;
    width: 380px;
    /*height: 70px;*/
  }

  .uploading__tool--crop {
    padding-top: 0;
    padding-bottom: 13px;

    &>svg {
      width: 44px;
      height: 44px;
    }
  }

  .uploading__tool--fill {
    padding-top: 15px;
    padding-bottom: 14px;

    &>svg {
      width: 48px;
      height: 43px;
    }
  }

  .uploading__tool--contrast {
    padding-top: 18px;
    padding-bottom: 19px;
    padding-left: 6px;

    &>svg {
      width: 32px;
      height: 32px;
    }
  }

  .uploading__scale-bar {
    width: 288px;
  }

  .uploading__scale-toggle {
    &--crop {
      left: 26%;
    }

    &--fill {
      left: 88%;
    }

    &--contrast {
      left: 58%;
    }
  }

  .uploading__button-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .uploading__button {
    width: 183px;
  }

  .uploading__button--cancel {
    margin: 0;
  }
}

